* {
  box-sizing: border-box;
}

:root {
  --action-color: #0080ff;
  --color-text-1: #ffffff;
  --color-text-2: #d8d8d8;
  --color-text-3: #888888;
  --modal-border-radius: 8px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --label-font-size: 12px;
  --label-font-weight: var(--font-weight-medium);
  --label-font-color: #828292;
  --label-bottom-padding: 4px;
  --default-font-size: 16px;
  --card-item-bg-color: #161616;
  --card-item-bg-highlighted-color: #252525;
  --card-above-font-color: #d8d8d8;
  --card-above-bg-color: #252525;
  --card-above-bg-color-highlighted: #424242;
  --button-separation-border-color: #7f7f7f;
  --textField-title-font-size: 28px;
  --textField-description-font-size: 15px;
  --textField-border: 8px;
  --textField-bg-focus-color: #000;
  /* createTodoModal */
  --gutter: 16px;

  /* categorySelectionModal */
  --border-bottom-color: #cccccc;
  --card-item-font-color: #d8d8d8;
  --card-item-font-size: 14px;
  --confirm-color: #23ce88;
}

/* UTILITY TAGS */

button {
  cursor: pointer;
  outline: none;
  border: none;
}

textarea {
  resize: none;
  border: none;
}

/* UTILITY CLASSES */

.Label__Text {
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  color: var(--label-font-color);
  padding-bottom: var(--label-bottom-padding);
}

.textField {
  background-color: transparent;
  width: 90%;
  color: var(--color-text-1);
  border-radius: var(--textField-border);
}

.textField:focus,
.textField:hover {
  outline: none;
  border-color: var(--textField-bg-focus-color);
  background-color: var(--textField-bg-focus-color);
  caret-color: var(--action-color);
}

.textField-title {
  font-size: var(--textField-title-font-size);
}

.textField-description {
  font-size: var(--textField-description-font-size);
}

/* categorySelectionModal */

.categorySelection-modal {
  height: 300px;
  height: 300px;

  max-width: 300px;
  max-height: 350px;
  border: 1px solid black;
  border-radius: var(--modal-border-radius);

  display: flex;
  flex-direction: column;
}

.categorySelection-modal-header {
  height: 55px;
  min-height: 55px;
  /* Give padding to the just side */
  padding: 0 var(--gutter);
  background-color: var(--card-above-bg-color);
  border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
  color: var(--card-above-font-color);

  display: flex;
  align-items: center;
}

.categorySelection-modal-title {
  font-weight: var(--font-weight-semi-bold);
}

.categorySelection-modal-main {
  flex: 1 0 0;
  background-color: var(--card-item-bg-color);
  border-radius: 0 0 var(--modal-border-radius) var(--modal-border-radius);

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.categorySelection-modal-items {
  min-height: 44px;
  padding: 0 var(--gutter);
  background-color: var(--card-item-bg-color);

  display: flex;
  align-items: stretch;
}

.categorySelection-modal-items:hover,
.categorySelection-modal-items:active {
  background-color: var(--card-item-bg-highlighted-color);
}

.categorySelection-modal-items-title {
  flex: 1 0 0;
  color: var(--card-item-font-color);
  font-size: var(--card-item-font-size);
  border-bottom: 1px solid var(--border-bottom-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categorySelection-modal .fa-check-circle {
  border: none;
  outline: none;
  border-radius: var(--modal-border-radius);
  background-color: var(--confirm-color); 
  font-size: 1.3em;
}